<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rezervari Hotel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    {% if request.user.is_authenticated %}
                        <button type="submit">Logout</button>
                        <a class="btn" href="{% url 'locations:lista_locatii' %}">Location</a>
                        <a class="btn" href="{% url 'hoteluri:lista_hoteluri' %}">Detalii hoteluri</a>
                        <span style="font-weight: bold">Utilizator: {{ request.user.username }}</span>
                        {% if request.user.is_superuser %}
                            <a href="{% url 'userprofile:lista_utilizatori' %}" class="btn">Utilizatori</a>
                        {% endif %}
                    {% endif %}
                    <a class="btn btn-primary btn-sm" href="/admin/">Admin</a>
                </form>
            </nav>
        </div>
    </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>